[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/bin/synchronize.gambas
Terminal=false
Name= Synchronize
Name[es_ES]=Synchronize

